@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.CelebrityArticles>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<h1 class="mb-3">Latest Celeb News</h1>

@{
	var selection = Umbraco.Content(Guid.Parse("f0b6aae9-2ff5-4753-98ea-d3f8e7d6ae6e"))
    .Children()
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}

	@foreach (var item in selection)
	{
		var image = item.Value<IPublishedContent>("articleLeadImage");
	<div class="card-group mb-3">
  <div class="card">
    <img class="card-img-top" src="@image.Url()" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">@item.Name()</h5>
      <p class="card-text">@item.Value("articleContent")</p>
    </div>
  </div>
</div>
	}


